.annotated-list {
  padding: 15px 30px;
  box-sizing: border-box;
}
.annotated-list:before,
.annotated-list:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.annotated-list:after {
  clear: both;
}
.annotated-list .list {
  padding-top: 20px;
}
.annotated-list .list > div {
  padding: 10px 0;
  border-top: solid 1px rgba(255, 255, 255, 0.1);
}
.annotated-list .avatar {
  max-width: 150px;
}
.annotated-list .avatar img {
  max-width: 100%;
}
.annotated-list h3 {
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0 0 3px;
  font-weight: bold;
  color: #000;
}
.annotated-list p {
  margin: 0;
  color: #000;
}
.annotated-list input {
  border-radius: 25px;
  padding: 7px 14px;
  background-color: transparent;
  border: solid 1px #000;
  box-sizing: border-box;
  color: #000;
  margin-bottom: 5px;
}
.annotated-list input:focus {
  outline: none;
  border-color: #000;
}
.annotated-list .sort {
  font-size: 12px;
  font-size: 1.2rem;
  padding: 5px 15px;
  border-radius: 25px;
  border: none;
  display: inline-block;
  color: #000;
  text-decoration: none;
  background-color: #F2F2F2;
  margin: 2px 0;
}
.annotated-list .sort:hover {
  text-decoration: none;
  background-color: #d5d5d5;
}
.annotated-list .sort:focus {
  outline: none;
}
.annotated-list .sort:after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  content: "";
  position: relative;
  top: -10px;
  right: -4px;
}
.annotated-list .sort.asc:after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  content: "";
  position: relative;
  top: 11px;
  right: -4px;
}
.annotated-list .sort.desc:after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
  content: "";
  position: relative;
  top: -9px;
  right: -4px;
}